!!!
%html{lang: "eng"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title=content_for?(:title) ? yield(:title) : "CMDR Log"
    = stylesheet_link_tag "application"
    = csrf_meta_tags

  %body
    %div.top-bar
      %div.top-bar-title= link_to current_commander.name, cmdr_path(current_commander)
      %div
        %div.top-bar-left
          %ul.menu
            %li
              = link_to current_ship.model, cmdr_ship_path(current_commander, current_ship)
            %li
              %small.badge.secondary= (current_ship.cargo_capacity - current_ship.cargo_items.count)
            %li
              %a
                =current_commander.balance
                %small CR

    = javascript_include_tag "application", "data-turbolinks-track" => true
    = yield
