!!!
%html{lang: "eng"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title=content_for?(:title) ? yield(:title) : "CMDR Log"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    %div.top-bar
      %div.top-bar-title= current_commander.name
      %div
        %div.top-bar-left
          %ul.menu
            %li
              %a
                = current_ship.model
                %small.badge.secondary= current_ship.cargo_capacity
            %li
              %a
                =current_commander.balance
                %small CR

    = yield
